
@font-face {
    font-family: 'Roboto Slab Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Slab Light Italic'), url('RobotoSlab-LightItalic.woff') format('woff');
}

h2 {
    font-family: 'Roboto Slab Light Italic';
    /* font-size: 2rem; */
}

.card{
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
    max-width: 200px;
    height: 300px;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}

.card:hover,
.card:focus  {
	-webkit-transform: translatex(0px) translatey(-8px);
          transform:  translatex(0px) translatey(-8px);
}

