.search-wrapper {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #fff;
    width: fit-content;
    padding: 10px;
    box-shadow: 0 0 5px rgba(10, 10, 10, 0.4);
}

input[type="search"] {
    font-size: .8em;
}

.description {
    text-align: center;
    font-size: 0.8em;
    color: #bbb;
    text-shadow: 0 2px 1px #fff;
}